*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: rgb(224, 199, 10);
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
}

nav > input{
    height: 4vh;
}

.logo{
    height: 5vh
}

